extends layout

block content
  script(type='text/javascript', src='js/libs/require.js', data-main='js/main.js')
  h1= title
  div.chat(ng-app="chatApp", ng-controller="chatCtrl")
    ul
      li(ng-repeat="m in messages")
        strong {{m.sender}} 
        span {{m.msg}}
    form(ng-submit="chat(msg)")
      input(type="text", name="msg", ng-model="msg", init-focus)
      input(type="submit", value="Send")
  a(href="https://github.com/gurunate/deepdivechat")
    img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", alt="Fork me on GitHub")