body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
h1
  background-image url("/images/logo.png")
  padding-left 50px
  background-repeat no-repeat
  height 48px
